/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-local-test-dynamic-post-search {
    .posts-list {
        padding-left: 0;
    }
    
    .posts-list-item {
        display: flex;
        justify-content: space-between;
        
        a {
            color: #007CBA !important;
        }
        
        &:not(:first-child) {
            margin-top: 10px;
        }
        
        .posts-list-link {
            display: flex;
            flex-direction: column;
            
            span {
                color: #757575;
                font-size: 13px;
            }
        }
        
        button {
            margin: auto 0;
            height: max-content;
        }
    }
}

.popover-search-results .components-popover__content{
    width: auto;
    
    .popover-search-result {
        width: 100%;
        display: block;
        cursor: pointer;
        padding: 10px 16px;
    
        &:hover {
            color: #007CBA;
        }
        
        .popover-search-result-post {
            display: flex;
            font-size: 13px;
            flex-direction: column;
            
            > .title {
                font-weight: 600;
            }
            
            > .link {
                color: #757575;
                margin-top: 4px;
            }
        }
    }
}
