/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-local-test-dynamic-post-search {
    .components-search-control input[type=search].components-search-control__input {
        margin: 0;
        width: 100%;
        height: 40px;
        display: block;
        color: #2c3338;
        font-size: 13px;
        padding: 8px 16px;
        border-radius: 2px;
        position: relative;
        line-height: normal;
        border: 1px solid #949494;
        background-color: #ffffff;
        box-shadow: 0 0 0 transparent;
        transition: box-shadow .1s linear;
    }
    
    .posts-list {
        padding-left: 0;
    }
    
    .posts-list-item {
        display: flex;
        justify-content: space-between;
        
        a {
            color: #007CBA !important;
        }
        
        &:not(:first-child) {
            margin-top: 10px;
        }
        
        .posts-list-link {
            display: flex;
            flex-direction: column;
            
            span {
                color: #757575;
                font-size: 13px;
            }
        }
        
        button {
            border: none;
            margin: auto 0;
            cursor: pointer;
            background: none;
            height: max-content;
        }
    }
    
    .popover-search-results {
        width: 100%;
        
        .components-popover__content{
            width: auto;
            
            .popover-search-result {
                display: block;
                cursor: pointer;
                padding: 10px 16px;
                
                &:hover {
                    color: #007CBA;
                    
                    .result-posts-details .result-icon {
                        fill: #007CBA;
                    }
                }
                
                .popover-search-result-post {
                    display: flex;
                    font-size: 13px;
                    justify-content: space-between;
                    
                    .result-posts-details {
                        display: flex;
                        
                        .result-icon {
                            display: flex;
                            align-items: center;
                        }
                        
                        .result-details {
                            padding-left: 12px;
                            
                            > .title {
                                width: 100%;
                                overflow: hidden;
                                display: inline-block;
                                text-overflow: ellipsis;
                            }
                            
                            > .link {
                                color: #757575;
                            }
                        }
                    }
                    
                    .result-type {
                        display: flex;
                        color: #757575;
                        font-size: 13px;
                        padding-left: 24px;
                        align-items: center;
                        white-space: nowrap;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

